@font-face {
  font-family: "Signika";
  src: url("Signika-Regular.ttf");
}

@font-face {
  font-family: "Colus";
  src: url("Colus-Regular.otf");
}

@font-face {
  font-family: "Creepster";
  src: url("Creepster-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.ttf");
}

@font-face {
  font-family: "NotoSans";
  src: url("NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf");
}

@font-face {
  font-family: "Spartan";
  src: url("Spartan-Regular.ttf");
}
