@font-face {
  font-family: "Spartan";
  src: url("Spartan-Regular.ttf");
}

@font-face{
  font-family: "Spartan500";
  src: url("Spartan-Medium.ttf");
}

@font-face{
  font-family: "Spartan600";
  src: url("Spartan-SemiBold.ttf");
}