body::-webkit-scrollbar {
    width: 3em;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  }
.card {
    /* border: 1px solid orange; */
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .25rem .75rem;
    background: linear-gradient(-45deg, rgba(34,32,28,1) 45%, rgba(65,77,83,1) 75%);
    border-radius: 1rem;
    box-shadow: 0px 0px 3px white;
}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding: .4rem 0rem;
    /* border:1px solid pink; */
}
.middle {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* overflow-y: scroll; */
}
.middle div {
    margin: 0 auto;
}
.ImgContainer {
    width: 95%;
    height: 55%;
    margin: auto;
    /* border: 3px solid pink; */
}
.textBlock {
    /* border: 4px solid green; */
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y:scroll;
}
.textBlock::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.pic {
    flex-direction: row;
    justify-content: center;
    border-radius: .75rem;
    margin: 0rem auto;
    width: 100%;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 3px solid rgb(190, 42, 235); */
    width: 100%;
    align-items: center;
    padding: 0rem .5rem;
    height: fit-content;
}

.description {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 16px;
    width: 100%;
    /* height: 50%; */
    margin-top: .25rem;
    line-height: 1.5rem;
    /* border:1px solid pink; */
}

.btnBlock {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: .35rem;
    /* border:1px solid pink; */
}


@media (max-width: 520px) {
    .card{
        width: 80vw;
    }
    .title {
        font-size: 1.15rem;
        margin-top: .35rem;
    }

    .tools {
        padding: 0rem 0rem;
    }
    .btn{
        min-height: 1rem;
    }
    .btn:hover{
        color: white;
        background-color: inherit;
    }
  }


