.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 4.5rem;
    min-height: 4.5rem;
    max-width: 6rem;
    max-height: 6rem;
    margin-bottom: .25rem;
    /* border: 1px solid white; */
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.25rem;
    /* border: 1px solid white; */
    
}
.logo p{
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 520px) {
    .logo{
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin-bottom: 0.2rem;
    /* border: 3px solid yellow; */
    margin: 0rem 0.75rem;
    padding: 0rem 3rem;
    }

    .img{
        width: 2rem;
        height: 2rem;
        margin-bottom: 0.2rem;
    }
  }